.apto.fundo-gradiente{
    background-image: url("../assets/negociando.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-position: left;
}

.div-titulo-card-apto{
    display: flex;
    align-items: baseline;
}



@media (min-width: 1200px){
    .apto.fundo-gradiente{
        background-size: contain;
        background-color: #2c2c2c;
    }

    .apto .div-resumo-curso{
        align-items: flex-end;
    }

    .apto .div-texto-borda{
        margin-left: 237px;
    }

    .apto .div-titulo-resumo{
        margin-left: 45px;
    }

    .apto .div-botoes-resumo{
        margin-right: -40px;
    }
}

@media (min-width: 2560px){
    .apto .div-titulos-cards{
        margin-right: 38px;
    }

    .apto .div-texto-borda{
        margin-left: 305px;
    }

    .footer-texto-1.body-2{
        font-size: 30px;
    }

    .footer-texto-3.body-1{
        font-size: 30px;
    }

    .apto .div-botoes-resumo{
        margin-right: 0;
    }
}