.professores{
    background-color: #0C0C0C;
}

.professores .div-titulo-resumo{
    margin-left: 29px;
}

.professores .card-resumo .img-card-resumo{
    max-width: 220px;
}

.professores .div-texto-card-resumo .conteudo-card-resumo.body-1{
    font-size: 12px;
}

.card-resumo.display-none{
    display: none;
}

@media (min-width: 1200px){
    .professores{
        background: radial-gradient(circle at 100% 0%, #2C2C2C 0%, #1A1A1A 100%);
    }

    .professores .div-card-resumo{
        max-width: 1440px;
    }

    .professores .div-titulos-cards{
        flex-direction: column;
    }

    .professores .card-resumo{
        max-width: 363px;
    }

    .professores .card-resumo .img-card-resumo{
        max-width: 320px;
    }

    .professores .div-texto-card-resumo .conteudo-card-resumo.body-1{
        font-size: 16px;
    }

    .professores .div-botoes-resumo{
        margin: 100px 0;
        justify-content: center;
    }

    .professores .btn-sfundo{
        margin-left: 0;
        margin-right: 20px;
    }

    .professores .btn{
        margin: 0 0 0 20px;
    }

    .professores .div-titulo-resumo{
        margin-left: 75px;
    }

    .card-resumo.display-none{
        display: flex;
    }
}

@media (min-width: 2560px){
    .professores .div-titulo-resumo{
        margin-left: 85px;
    }

    .professores .div-card-resumo{
        max-width: 2560px;
    }

    .professores .card-resumo{
        max-width: 600px;
    }

    .professores .card-resumo .img-card-resumo{
        max-width: 550px;
    }

    .professores .div-texto-card-resumo .conteudo-card-resumo.body-1{
        font-size: 30px;
    }

    .card-resumo{
        border-width: 2px;
    }

    .professores .div-botoes-resumo{
        margin: 150px 0;
    }
}