.professores{
    background-color: #0C0C0C;
}

.professores .div-titulo-resumo{
    margin-left: 29px;
}

.professores .card-resumo .img-card-resumo{
    max-width: 220px;
}

.professores .div-texto-card-resumo .conteudo-card-resumo.body-1{
    font-size: 12px;
}